# Example Environment Variables for ddclient

# Set to your host user's UID (run 'id -u')
DDCLIENT_PUID=1000
# Set to your host user's GID (run 'id -g')
DDCLIENT_PGID=1000
# Set your timezone (e.g., America/Los_Angeles, Asia/Seoul)
DDCLIENT_TZ=Etc/UTC
